body {
    background: linear-gradient(135deg, #305D5E, #1A3B3B); /* Paleta de verde mais escura */
    font: normal 15pt Arial, sans-serif;
    color: #FFF; /* Cor do texto padrão */
}

header {
    text-align: center;
}

section {
    background: #446B6C; /* Verde mais escuro para o fundo da seção */
    border-radius: 10px;
    padding: 50px;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    font-style: italic;
    margin-top: 50px; /* Adiciona espaço entre o conteúdo e o rodapé */
}
/* Adiciona brilho ao cabeçalho quando o mouse passa sobre ele e muda o cursor */
header:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Brilho branco sutil */
    cursor: pointer; /* Altera o cursor para um ponteiro */
}

/* Adiciona brilho à seção quando o mouse passa sobre ela e muda o cursor */
section:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Brilho branco sutil */
    cursor: help; /* Altera o cursor para um ponto de interrogação */
}

/* Adiciona brilho ao rodapé quando o mouse passa sobre ele e muda o cursor */
footer:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Brilho branco sutil */
    cursor: crosshair; /* Altera o cursor para uma mira */
}
